*{box-sizing: border-box;margin: 0%; padding: 0%;}
.flex-col{display: flex;flex-direction: column; align-items: center;}
.flex-row{display: flex;flex-direction: row; align-items: center;}
.flex-rowGap{display: flex;flex-direction: row; align-items: center; justify-content: space-between;}
.bg-bleugris{background: linear-gradient(0deg,#ffffff 60%,  #2E3244 40%)}
.bg-bleu{background: #2E3244}
.txt-bleu{color: #2E3244}
.txt-white{color: white}
.bg-gris{background: #D0CECE}
.bg-white{background: white;}
.progressbar-wrapper{background: #D0CECE;color: white;border-radius: 10px ;width: 20vh;}
.progressbar {text-align: right;font-size: 10.79px;border-radius: 10px 0px 0px 10px }
.roboto{ font-family: Roboto;}
.bold{font-weight: bold;}
.qv{width: 80%;}
.cq{width: 50%;}
.spt{width: 70%;}
.st{width: 70%;}
.contenair{
  width: 100%;
    .nav{
        height: 7.75vh; padding: 0vh 1.875vh 0vh  1.875vh;
        .icone-id{font-family: Roboto;font-size: 1.5vh;}
        .icone-menu{height: 2.75vh;width: 4.75vh;}   
    }
    .acceuil{
        .section1{
            padding-top: 7.5vh;height: 41.25vh;width: 29.625vh;margin-top: 10vh;
            .profil{
                border-radius: 12.5vh;
                width: 15.125vh;
                height: 15.5vh;
                background-image: url('profil.jpg');
                background-size: cover;
                background-position: center;
                transform: matrix(0.93, -0.38, 0.4, 0.92, 0, 0);
            }
            .identites{
                .dev{ margin-top: 3.75vh;font-style: normal;}
                .trait{height: 0.5vh;width: 7.25vh;border-radius: 0.625vh;}
            }   
        }
        .section2{
            padding-top: 30px;
           .resume{
                width: 35.625vh;margin-top: 2.5vh;
                p{text-align: justify;}
            }
            .hello{font-family: Roboto;font-size: 4.5vh;color: #2E3244;}
            button{margin-top:15px;height: 4vh;width: 14vh;border-radius: 0.625vh;background: #2E3244; margin-left: -21vh;} 
        } 
    }
    .realisation{
        padding-top: 7.5vh;
        .competences{
            .connaissances{
                margin-top: 6vh;
            }
        }
        .projet{
            .all-projet img{height: 212px;width: 281px;}
        }
    }
}