* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-coleft {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.flex-colspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-rowgap10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.display-none {
  display: none;
}

.flex-rowGap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bg-bleugris {
  background: linear-gradient(0deg, #ffffff 60%, #2E3244 40%);
}

.bg-whitegris {
  background: linear-gradient(0deg, #D0CECE 50%, #ffffff 50%);
}

.bg-bleu {
  background: #2E3244;
}

.txt-bleu {
  color: #2E3244;
}

.txt-white {
  color: white;
}

.bg-gris {
  background: #D0CECE;
}

.bg-white {
  background: white;
}

.progressbar-wrapper {
  background: #D0CECE;
  color: white;
  border-radius: 10px;
  width: 20vh;
}

.progressbar {
  text-align: right;
  font-size: 10.79px;
  border-radius: 10px 0px 0px 10px;
}

.roboto {
  font-family: Poppins;
}

.bold {
  font-weight: bold;
}

.p-top70 {
  padding-top: 8.5vh;
}

.fleche {
  margin-top: -220px;
  background-color: rgb(255, 255, 255);
  width: 5vh;
  height: 5vh;
  background-repeat: no-repeat;
}

.qv {
  width: 80%;
}

.cq {
  width: 50%;
}

.spt {
  width: 70%;
}

.st {
  width: 70%;
}

.contenair {
  width: 100%;
}
.contenair .nav {
  height: 7.75vh;
  width: 100%;
  padding: 0vh 1.875vh 0vh 1.875vh;
  position: fixed;
  top: 0px;
}
.contenair .nav .icone-id {
  font-family: Roboto;
  font-size: 1.5vh;
}
.contenair .nav .icone-menu {
  height: 2.75vh;
  width: 4.75vh;
}
.contenair .nav .icone-menu .lien {
  margin-left: -100px;
  margin-top: -20px;
  border-radius: 4px;
  width: 20vh;
  height: 15vh;
  padding: 20px;
  visibility: hidden;
}
.contenair .nav .icone-menu .lien a {
  text-decoration: none;
  font-family: Poppins;
  box-shadow: -10px 5px 5px #2E3244;
}
.contenair .acceuil .section1 {
  padding-top: 7.5vh;
  height: 47.25vh;
  width: 35vh;
  margin-top: 10vh;
}
.contenair .acceuil .section1 .profil {
  border-radius: 12.5vh;
  width: 15.125vh;
  height: 15.5vh;
  background-image: url("profil.jpg");
  background-size: cover;
  background-position: center;
  transform: matrix(0.93, -0.38, 0.4, 0.92, 0, 0);
}
.contenair .acceuil .section1 .identites .dev {
  margin-top: 3.75vh;
  font-style: normal;
}
.contenair .acceuil .section1 .identites .trait {
  height: 0.5vh;
  width: 7.25vh;
  border-radius: 0.625vh;
}
.contenair .acceuil .section2 {
  padding-top: 30px;
}
.contenair .acceuil .section2 .resume {
  width: 35.625vh;
  margin-top: 2.5vh;
}
.contenair .acceuil .section2 .resume p {
  text-align: justify;
}
.contenair .acceuil .section2 .hello {
  font-family: Roboto;
  font-size: 4.5vh;
  color: #2E3244;
}
.contenair .acceuil .section2 button {
  margin-top: 15px;
  height: 4vh;
  width: 16vh;
  border-radius: 0.625vh;
  background: #2E3244;
  margin-left: -17vh;
}
.contenair .realisation {
  height: 105.5vh;
}
.contenair .realisation .competences .connaissances {
  margin-top: 10vh;
}
.contenair .realisation .projet {
  padding-top: 25vh;
}
.contenair .realisation .projet .all-projet .btnslide .fleche-gauche {
  background-image: url("fg.png");
  background-position: center;
  box-shadow: -10px 5px 5px #2E3244;
}
.contenair .realisation .projet .all-projet .btnslide .fleche-droite {
  background-image: url("fd.png");
  background-position: center;
  box-shadow: 10px 5px 5px #2E3244;
}
.contenair .realisation .projet .all-projet .image-projet img {
  height: 212px;
  width: 281px;
  margin-top: 4vh;
}
.contenair .contact {
  padding-top: 7.5vh;
}
.contenair .contact .Cpart1 {
  width: 39.625vh;
  margin-top: 4vh;
  padding: 4vh;
}
.contenair .contact .Cpart1 h5 {
  margin-bottom: 4vh;
}
.contenair .contact .Cpart1 .form div input, .contenair .contact .Cpart1 .form div textarea {
  border: 0;
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
}
.contenair .contact .Cpart1 .form button {
  margin-top: 15px;
  height: 4vh;
  width: 14vh;
  border-radius: 0.625vh;
  background: #D0CECE;
}
.contenair .contact .Cpart2 {
  height: 37.5vh;
  width: 39.625vh;
  padding: 4vh;
}
.contenair .contact .Cpart2 h5 {
  margin-bottom: 4vh;
}
.contenair .footer {
  height: 60px;
  padding-top: 3vh;
}

.modal {
  visibility: hidden;
}
.modal div {
  width: 350px;
  height: auto;
  margin: 100px auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border: 3px solid #D0CECE;
  position: absolute;
  top: 1950px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@media only screen and (min-width: 900px) {
  .contenair .nav .icone-id p {
    font-size: large;
  }
  .contenair .nav .icone-menu {
    height: 0;
    width: 0;
  }
  .contenair .nav .icone-menu .menu-icone {
    visibility: hidden;
  }
  .contenair .nav .icone-menu .lien {
    visibility: visible;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: -350px;
    width: auto;
    height: auto;
    margin-top: -70px;
  }
  .contenair .nav .icone-menu .lien a {
    border-radius: 2px;
    height: auto;
    width: 70vh;
    box-shadow: none;
  }
  .contenair .acceuil {
    height: 114.625vh;
    background: linear-gradient(-90deg, #ffffff 60%, #2E3244 40%);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 150px;
  }
  .contenair .acceuil .section-principale {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
  .contenair .acceuil .section1 {
    margin-top: 0px;
    height: 66.625vh;
    width: 46vh;
  }
  .contenair .acceuil .section1 .profil {
    width: 23.625vh;
    height: 25.5vh;
    transform: rotate(-22.84deg);
  }
  .contenair .acceuil .section1 .identites {
    margin-top: 4vh;
  }
  .contenair .acceuil .section1 .identites .dev {
    margin-top: 9vh;
    font-size: large;
  }
  .contenair .acceuil .section1 .identites .trait {
    margin-top: 2vh;
    height: 0.7vh;
    width: 9.25vh;
    border-radius: 0.625vh;
  }
  .contenair .acceuil .section2 {
    padding-top: 90px;
    height: 50vh;
    height: 66.625vh;
    width: 49.875vh;
  }
  .contenair .acceuil .section2 .resume {
    width: 35.625vh;
    margin-top: 5.5vh;
  }
  .contenair .realisation {
    background: linear-gradient(-90deg, #D0CECE 60%, #ffffff 40%);
    height: 70.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenair .realisation .section-principale {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .contenair .realisation .section-principale .competences .connaissances {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    gap: 6.25vh;
    margin-left: -6.25vh;
  }
  .contenair .realisation .section-principale .competences .connaissances div .progressbar-wrapper {
    width: 40vh;
  }
  .contenair .realisation .section-principale .projet {
    margin-top: -160px;
  }
  .contenair .realisation .section-principale .projet .all-projet .btnslide {
    margin-top: -90px;
  }
  .contenair .realisation .section-principale .projet .all-projet .image-projet {
    height: auto;
    width: auto;
  }
  .contenair .realisation .section-principale .projet .all-projet .image-projet img {
    height: 40vh;
    width: 60vh;
    margin-top: 4vh;
  }
  .contenair .contact {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .contenair .contact .section-principale {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
  }
  .contenair .contact .section-principale .Cpart1 {
    width: 50.25vh;
    height: 60vh;
    margin-top: 0px;
  }
  .contenair .contact .section-principale .Cpart1 h5 {
    margin-bottom: 4vh;
  }
  .contenair .contact .section-principale .Cpart1 .form div input, .contenair .contact .section-principale .Cpart1 .form div textarea {
    border: 0;
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
  }
  .contenair .contact .section-principale .Cpart1 .form button {
    margin-top: 15px;
    height: 4vh;
    width: 14vh;
    border-radius: 0.625vh;
    background: #D0CECE;
  }
  .contenair .contact .section-principale .Cpart2 {
    width: 50.25vh;
    height: 60vh;
  }
  .contenair .contact .section-principale .Cpart2 h5 {
    margin-bottom: 4vh;
  }
  .contenair .contact .section-principale .Cpart2 .img-p {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .contenair .contact .section-principale .Cpart2 .rs {
    margin-top: 70px;
  }
  .contenair .contact .section-principale .Cpart2 .reseaux-sociaux {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */