* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-coleft {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.flex-colspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-rowgap10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.display-none {
  display: none;
}

.flex-rowGap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bg-bleugris {
  background: linear-gradient(0deg, #ffffff 60%, #2E3244 40%);
}

.bg-whitegris {
  background: linear-gradient(0deg, #D0CECE 50%, #ffffff 50%);
}

.bg-bleu {
  background: #2E3244;
}

.txt-bleu {
  color: #2E3244;
}

.txt-white {
  color: white;
}

.bg-gris {
  background: #D0CECE;
}

.bg-white {
  background: white;
}

.progressbar-wrapper {
  background: #D0CECE;
  color: white;
  border-radius: 10px;
  width: 20vh;
}

.progressbar {
  text-align: right;
  font-size: 10.79px;
  border-radius: 10px 0px 0px 10px;
}

.roboto {
  font-family: Poppins;
}

.bold {
  font-weight: bold;
}

.p-top70 {
  padding-top: 8.5vh;
}

.fleche {
  margin-top: -220px;
  background-color: rgb(255, 255, 255);
  width: 5vh;
  height: 5vh;
  background-repeat: no-repeat;
}

.qv {
  width: 80%;
}

.cq {
  width: 50%;
}

.spt {
  width: 70%;
}

.st {
  width: 70%;
}

.contenair {
  width: 100%;
}
.contenair .nav {
  height: 7.75vh;
  padding: 0vh 1.875vh 0vh 1.875vh;
}
.contenair .nav .icone-id {
  font-family: Roboto;
  font-size: 1.5vh;
}
.contenair .nav .icone-menu {
  height: 2.75vh;
  width: 4.75vh;
}
.contenair .nav .icone-menu .lien {
  margin-left: -100px;
  margin-top: -20px;
}
.contenair .nav .icone-menu .lien a {
  text-decoration: none;
  font-family: Poppins;
  box-shadow: -10px 5px 5px gray;
  width: 20vh;
  height: 15vh;
  border-radius: 4px;
}
.contenair .acceuil .section1 {
  padding-top: 7.5vh;
  height: 41.25vh;
  width: 29.625vh;
  margin-top: 10vh;
}
.contenair .acceuil .section1 .profil {
  border-radius: 12.5vh;
  width: 15.125vh;
  height: 15.5vh;
  background-image: url("profil.jpg");
  background-size: cover;
  background-position: center;
  transform: matrix(0.93, -0.38, 0.4, 0.92, 0, 0);
}
.contenair .acceuil .section1 .identites .dev {
  margin-top: 3.75vh;
  font-style: normal;
}
.contenair .acceuil .section1 .identites .trait {
  height: 0.5vh;
  width: 7.25vh;
  border-radius: 0.625vh;
}
.contenair .acceuil .section2 {
  padding-top: 30px;
}
.contenair .acceuil .section2 .resume {
  width: 35.625vh;
  margin-top: 2.5vh;
}
.contenair .acceuil .section2 .resume p {
  text-align: justify;
}
.contenair .acceuil .section2 .hello {
  font-family: Roboto;
  font-size: 4.5vh;
  color: #2E3244;
}
.contenair .acceuil .section2 button {
  margin-top: 15px;
  height: 4vh;
  width: 14vh;
  border-radius: 0.625vh;
  background: #2E3244;
  margin-left: -21vh;
}
.contenair .realisation {
  height: 105.5vh;
}
.contenair .realisation .competences .connaissances {
  margin-top: 10vh;
}
.contenair .realisation .projet {
  padding-top: 25vh;
}
.contenair .realisation .projet .all-projet .btnslide .fleche-gauche {
  background-image: url("fg.png");
  background-position: center;
  box-shadow: -10px 5px 5px #2E3244;
}
.contenair .realisation .projet .all-projet .btnslide .fleche-droite {
  background-image: url("fd.png");
  background-position: center;
  box-shadow: 10px 5px 5px #2E3244;
}
.contenair .realisation .projet .all-projet .image-projet img {
  height: 212px;
  width: 281px;
  margin-top: 4vh;
}
.contenair .contact {
  padding-top: 7.5vh;
}
.contenair .contact .Cpart1 {
  height: 353px;
  width: 317px;
  margin-top: 4vh;
  padding: 4vh;
}
.contenair .contact .Cpart1 h5 {
  margin-bottom: 4vh;
}
.contenair .contact .Cpart2 {
  height: 300px;
  width: 317px;
  padding: 4vh;
}
.contenair .contact .Cpart2 h5 {
  margin-bottom: 4vh;
}
.contenair .footer {
  height: 60px;
  padding-top: 3vh;
}/*# sourceMappingURL=style.css.map */