*{box-sizing: border-box;margin: 0%; padding: 0%;}
.flex-col{display: flex;flex-direction: column; align-items: center;}
.flex-coleft{display: flex;flex-direction: column; align-items: left;}
.flex-colspace{display: flex;flex-direction: column; align-items: center; gap: 10px;}
.flex-row{display: flex;flex-direction: row; align-items: center;}
.flex-rowgap10{display: flex;flex-direction: row; align-items: center; gap: 50px;}
.display-none{display: none;}
.flex-rowGap{display: flex;flex-direction: row; align-items: center; justify-content: space-between;}
.bg-bleugris{background: linear-gradient(0deg,#ffffff 60%,  #2E3244 40%)}
.bg-whitegris{background: linear-gradient(0deg,#D0CECE 50%,  #ffffff 50%)}
.bg-bleu{background: #2E3244}
.txt-bleu{color: #2E3244}
.txt-white{color: white}
.bg-gris{background: #D0CECE}
.bg-white{background: white;}
.progressbar-wrapper{background: #D0CECE;color: white;border-radius: 10px ;width: 20vh;}
.progressbar {text-align: right;font-size: 10.79px;border-radius: 10px 0px 0px 10px }
.roboto{ font-family: Poppins;}
.bold{font-weight: bold;}
.p-top70{padding-top: 8.5vh;}
.fleche{margin-top: -220px; background-color: rgb(255, 255, 255); width: 5vh; height: 5vh;background-repeat: no-repeat;}
.qv{width: 80%;}
.cq{width: 50%;}
.spt{width: 70%;}
.st{width: 70%;}
.contenair{
  width: 100%;
    .nav{
        height: 7.75vh; padding: 0vh 1.875vh 0vh  1.875vh; 
        .icone-id{font-family: Roboto;font-size: 1.5vh;}
        .icone-menu{
            height: 2.75vh;width: 4.75vh;
            .lien {
                background-color: #ffffff; margin-left: -100px;box-shadow: -10px 5px 5px gray; display: flex;flex-direction: column; width: 20vh; height: 15vh; padding: 0px ;
                a{text-decoration: none; font-family: Poppins; }
            }
        }   
    }
    .acceuil{
        .section1{
            padding-top: 7.5vh;height: 41.25vh;width: 29.625vh;margin-top: 10vh;
            .profil{
                border-radius: 12.5vh;
                width: 15.125vh;
                height: 15.5vh;
                background-image: url('profil.jpg');
                background-size: cover;
                background-position: center;
                transform: matrix(0.93, -0.38, 0.4, 0.92, 0, 0);
            }
            .identites{
                .dev{ margin-top: 3.75vh;font-style: normal;}
                .trait{height: 0.5vh;width: 7.25vh;border-radius: 0.625vh;}
            }   
        }
        .section2{
            padding-top: 30px;
           .resume{
                width: 35.625vh;margin-top: 2.5vh;
                p{text-align: justify;}
            }
            .hello{font-family: Roboto;font-size: 4.5vh;color: #2E3244;}
            button{margin-top:15px;height: 4vh;width: 14vh;border-radius: 0.625vh;background: #2E3244; margin-left: -21vh;} 
        } 
    }
    .realisation{height: 105.5vh;
        .competences{
            .connaissances{
                margin-top: 10vh;
            }
        }
        .projet{
            padding-top: 25vh;
            .all-projet{
                .btnslide{
                    .fleche-gauche{background-image: url('fg.png'); background-position: center;box-shadow: -10px 5px 5px  #2E3244;}
                    .fleche-droite{background-image: url('fd.png'); background-position: center;box-shadow: 10px 5px 5px #2E3244;}
                }
                .image-projet img{height: 212px;width: 281px; margin-top: 4vh;}
            }
        }
    }
    .contact{
        padding-top: 7.5vh;
        .Cpart1{
            height: 353px;width: 317px; margin-top: 4vh;padding: 4vh;
            h5{ margin-bottom: 4vh;}
        }
        .Cpart2{
            height: 300px;width: 317px;padding: 4vh;
            h5{ margin-bottom: 4vh;}
        }
    }
    .footer{height: 60px;padding-top: 3vh;}
}